<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
<div id="app">
    <div>
        Отображать по
        <input type="number" min="1" :max="rows.length" step="1" v-model="count">
        <br> count = {{count}}
        <br> countPage = {{countPage}}
        <br> currentPage = {{currentPage}}
    </div>
    <div>
        <!--используем пересчитываемый динамически списко, для отображения кнопок-->
        <button v-for="asdf in paginationList"
                @click="currentPage = asdf"
                style="background-color: lightblue; margin-right: 10px"
        > {{asdf}} </button>
    </div>
    <div>
        <table>
            <tr  class="tr" v-for="row in paginationData">
                <td>{{row.date}}</td>
                <td>{{row.adress}}</td>
                <td>{{row.status}}</td>
                <td v-if="row.status === 'Выполнена'" >-</td>
                <td v-if="row.status !== 'Выполнена'" ><a  :href="row.Crm_link">{{row.Crm_title}}</a></td>
                <td><a :href="row.report_link">Отчет</a></td>
            </tr>
        </table>
    </div>
</div>
